
<br><br>
<h1>Admin Tools</h1>

<form onsubmit="return GetPurchaseHistory();">
    <input id="id" name="id" style="visibility:hidden; display:none;">

    <label for="email">Account Email:</label>
    <input type="text" name="email" id="email">

    <input type="submit" value="Show Purchase History">
</form>

<div id="results"></div>

<hr>