<% if(typeof errorList != 'undefined'){ %> <% errorList.forEach(function(error) { %>
    <div class="error" role="alert">
      <%= error.msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
<% }); %> <% } %>
    