<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css" />

<nav class="navbar navbar-default navbar-static-top navbar-inverse" style="position:fixed; width:100%;">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/search?search="><span class="glyphicon glyphicon-list-alt
          "></span> View All Products</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span> Categories <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              <li><a href="/search?search=pants">Pants</a></li>
              <li><a href="/search?search=shorts">Shorts</a></li>
              <li><a href="/search?search=shirts">Shirts</a></li>
              <li><a href="/search?search=shoes">Shoes</a></li>
              <li><a href="/search?search=jewelry">Jewelry</a></li>
              <li><a href="/search?search=watches">Watches</a></li>
              <li><a href="/search?search=winter">Winter clothing</a></li>
              <li><a href="/search?search=rain">Rain supplies</a></li>
              <li><a href="/search?search=children">Children</a></li>
          </ul>
      </li>

      <li>
        <form class="form-inline nav navbar-nav navbar-right" action="/search" method="GET">
          <div style="padding: 8px 0 0 0; position: relative;">
            <input class="form-control nav-search" type="text" name="search" placeholder="Search" aria-label="Search">
            <button type="submit" class="form-control nav-button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </form>
      </li>

    </ul>

    <ul class="nav navbar-nav navbar-right">  

        <% if (loggedIn) { %>
          <li class="navbar-right">

            <a href="/cart">
              <span class="glyphicon glyphicon-shopping-cart" style="font-size:16px"></span>
              <span class="cart-badge" id="cart-count"><%= cartCount %></span>
              
            </a>
          </li>
          <li class="navbar-right">
            <a href="/account" id="account"><span class="glyphicon glyphicon-user"></span> Account</a>
          </li>
          <li class="navbar-right">
            <a href="/auth/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
          </li>
        <% } %>
        <% if (!loggedIn) { %>
          <li class="navbar-right">
            <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
          </li>
        <% } %>
      </li>
    </ul>
  </div>
</nav> 
<nav class="navbar navbar-default navbar-static-top navbar-inverse" style="z-index:-1;"></nav>