.mainContainer {
    width:90%; 
    margin:0 auto; 
    padding: 10px 10px;
}

.cartContainer {
    width: 75%;
    float: left;
}

.cartContainer input[type=number] {
    width: 10%;
}

.update-cart {
    font-size: 14px;
    background-image: linear-gradient(rgb(255, 235, 119), rgb(255, 215, 0));
    visibility: hidden;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1px;
    margin-left: 5px;
}

.update-cart:hover {
    background-image: linear-gradient(rgb(255, 235, 150), rgb(255, 215, 50));
}

.remove-cart {
    font-size: 18px;
    color: rgb(255, 0, 0);
    background: none;
    border: none;
}

.remove-cart:hover {
    color: rgb(255, 100, 100);
}

.checkoutContainer {
    width: 20%;
    float: right;
}

.checkoutContainer button {
    background-color: green;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    border: 1px solid gray;
}

.checkoutContainer button:hover {
    background-color: rgb(0, 200, 0);
}

.checkoutBox {
    background-color: #DDD;
    border: 1px solid #AAA;
    border-radius: 5px;
    padding: 0 3px 10px 3px;
}