body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

form:not(.form-inline) {
  border: 1px solid #ccc;
}

.error {
  font-weight: normal;
}

/* Full-width input fields */
p input[type="email"],
p input[type="text"],
p input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

p input[type="email"]:focus,
p input[type="name"]:focus,
p input[type="password"]:focus,
p input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */

button:hover {
  opacity: 1;
}

button:disabled,
button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.submitbtn {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  float: left;
  width: 50%;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Add padding to container elements */
form:not(.form-inline) .container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .submitbtn {
    width: 100%;
  }
}
