.nav-search {
    border-radius: 25px;
}

.nav-button {
    position: absolute; 
    right: 0; 
    top: 8px; 
    border-radius: 25px; 
    background-color: #532F8C; 
    color: white;
}

.nav-button:hover {
    background-color: #845ac7;
}


.cart-badge {
    font-size: 14px;
    background:red;
    color:white;
    position: relative;
    border-radius: 35%;
    padding: 0px 4px 0px 4px;
    top: -10px;
    left: -8px;
}
