<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>

    <body>
            <%- include("../partials/nav.ejs", { loggedIn, cartCount} ) %>
        
        <p> Secret account information about <%= currentUser %> </p>  

    </body>

</html>