<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
        <%- include("../partials/nav.ejs", { loggedIn, cartCount} ) %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/account.css" />
        <script src="/scripts/account.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    </head>

    <body>
        <div class="mainContainer">
            <h1>Account Information for <%= currentUser %> </h1>
            <hr>
            <p>info here</p>

            <% if (accountType == 'admin') {%>
                <% include ../partials/accountAdminTools.ejs %>
            <% } %>

            <br><br>
            <h1>Purchase History</h1>
            <hr>
            <%- include("../partials/purchaseHistory.ejs", { orders } ) %>
            

        </div>
    </body>

</html>