<!DOCTYPE html>

<html lang="en-Us">

<head>
  <meta charset="utf-8">
  <title>Forgot Password</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/generalFormPage.css" />

  <% include ../partials/header.ejs %>
  <%- include("../partials/nav.ejs", {loggedIn}) %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
  <script src="/scripts/forgotPassword.js"></script>

</head>

<body>
     
  <form action="/auth/forgotpassword" method="POST" id="forgotPasswordForm">
    <div class="container">
      <h1>Forgot Password</h1>
      <p>Please provide an email address to reset your password.</p>
      <%- include("../partials/flashMessages.ejs") %>
      <hr>

      <label for="email"><b>Email</b></label>
      <p><input type="email" placeholder="Enter Email" name="email" id="email" autocomplete="email" required></p>

      <div class="clearfix">
        <button onclick="window.location.href ='/login'"" type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="submitbtn" id="forgotpasswordbtn" disabled>Send password reset link</button>
      </div>
    </div>
  </form>
</body>

</html>