<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
    <script src="/scripts/recommendation.js"></script>
  </head>

  <body>
    <%- include("../partials/nav.ejs", { loggedIn, cartCount} ) %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="/interface images/logo.png">
        </a>
        <h1>Super Fashion Shop</h1>
        <p>Dedicated to providing the highest quality clothing, jewelry, watches, shoes and more at unbeatable prices. Check back for new deals and exciting new products!</p>
        <a type="button" class="btn btn-lg btn-default" href="/search?search="><span class="glyphicon glyphicon-eye-open"></span> View our products</a>
        <% if (loggedIn) { %>
          <a type="button" class="btn btn-lg btn-primary" href="/account"><span class="glyphicon glyphicon-user"></span> View my account</a>
        <% } %>
        <% if (!loggedIn) { %>
          <a type="button" class="btn btn-lg btn-primary" href="/register"><span class="glyphicon glyphicon-user"></span> Create an account</a>
        <% } %>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3><span class="glyphicon glyphicon-menu-hamburger"></span> Categories</h3>
          <hr>
          <ul>
            <li><a href="/search?search=pants">Pants</a></li>
            <li><a href="/search?search=shorts">Shorts</a></li>
            <li><a href="/search?search=shirts">Shirts</a></li>
            <li><a href="/search?search=shoes">Shoes</a></li>
            <li><a href="/search?search=jewelry">Jewelry</a></li>
            <li><a href="/search?search=watches">Watches</a></li>
            <li><a href="/search?search=winter">Winter clothing</a></li>
            <li><a href="/search?search=rain">Rain supplies</a></li>
            <li><a href="/search?search=children">Children</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>Recommended for you</h3><hr>
            <div id="weather">Loading...</div>
        </div>
      </div> <!-- row -->
    </div>
  </body>
</html>