<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
  </head>

  <body>
    <%- include("../partials/nav.ejs", { loggedIn, cartCount} ) %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="/interface images/logo.png">
        </a>
        <h1>Super Fashion Shop</h1>
        <p>Dedicated to providing the highest quality clothing, jewelry, watches, shoes and more at unbeatable prices. Check back for new deals and exciting new products!</p>
        <a type="button" class="btn btn-lg btn-default" href="/search?search="><span class="glyphicon glyphicon-eye-open"></span> View our products <span class="glyphicon glyphicon-eye-open"></span></a>
        <% if (loggedIn) { %>
          <a type="button" class="btn btn-lg btn-primary" href="/account"><span class="glyphicon glyphicon-user"></span> View my account</a>
        <% } %>
        <% if (!loggedIn) { %>
          <a type="button" class="btn btn-lg btn-primary" href="/register"><span class="glyphicon glyphicon-user"></span> Create an account</a>
        <% } %>
      </div>
    </div>
    <div class="container">
      <div class="alert alert-info text-center" role="alert">
        To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started with Node on Heroku</a> tutorial.
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <h3><span class="glyphicon glyphicon-info-sign"></span> Categories</h3>
          <ul>
            <li><a href="/search?search=pants">Pants</a></li>
            <li><a href="/search?search=shorts">Shorts</a></li>
            <li><a href="/search?search=shirts">Shirts</a></li>
            <li><a href="/search?search=shoes">Shoes</a></li>
            <li><a href="/search?search=jewelry">Jewelry</a></li>
            <li><a href="/search?search=watches">Watches</a></li>
            <li><a href="/search?search=winter">Winter clothing</a></li>
            <li><a href="/search?search=rain">Rain supplies</a></li>
            <li><a href="/search?search=children">Children</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3><span class="glyphicon glyphicon-link"></span> Recommended for you</h3><hr>
            <div id="weather">Loading...</div>
          <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
          <ul>
            <li><a href="https://www.heroku.com/home">Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/deploying-nodejs">Deploying Node Apps on Heroku</a></li>
          </ul>
        </div>
      </div> <!-- row -->
      <div class="alert alert-info text-center" role="alert">
        Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
      </div>
    </div>


  </body>
</html>

<script>
  $(document).ready(function() {
    $.ajax({
          url: "https://api.openweathermap.org/data/2.5/weather?q=wellington&units=metric&APPID=426f191c9f83c393f9b782868641905d",
          type: 'GET',
          success: function(data) {
            weatherDescription = data.weather[0].description;
            weatherTemp = data.main.temp;

            $.ajax({
                url: "/recommendation",
                type: 'GET',
                data: {weatherDescription: weatherDescription, weatherTemp: weatherTemp},
                success: function(data) {
                  $("#weather").html(data);
                }
            });
          }
      });
  })
</script>