<html lang="en-Us">

<head>

	<meta charset="utf-8">

	<title>Login with Email or Google</title>

	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />

	<% include ../partials/header.ejs %>
	<%- include("../partials/nav.ejs", { loggedIn, cartCount} ) %>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
	<script src="/scripts/login.js"></script>

</head>

<body>

	<div id="login">
		<%- include("../partials/flashMessages.ejs") %>
		<h1><strong>Welcome.</strong> Please login.</h1>

		<form action="/auth/login" method="POST" id="loginForm">

			<fieldset>

				<label for="email">Email Address</label>
				<p><input type="email" id="email" placeholder="Enter email address" name="email" autocomplete="email">
				</p>

				<label for="password">Password</label>
				<p><input type="password" id="password" placeholder="Enter password" name="password"
						autocomplete="current-password"></p>

				<p><a href="/forgotpassword">Forgot Password?</a></p>
				<p><a href="/register">Don't have an account? Create one!</a></p>

				<button type="submit" class="loginbtn" id="loginbtn" disabled>Login</button>

			</fieldset>

		</form>

		<p><span class="btn-round">or</span></p>

		<p>
			<a class="oauth-before google-before"></a>
			<button class="google oauth" onclick="window.location.href ='/auth/google'">Login Using Google</button>
		</p>
	</div> <!-- end login -->
</body>

</html>