<!DOCTYPE html>

<html lang="en-Us">

<head>
    <meta charset="utf-8">
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/generalFormPage.css" />

    <% include ../partials/header.ejs %>
    <%- include("../partials/nav.ejs", {loggedIn}) %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="/scripts/resetPassword.js"></script>

</head>

<body>

    <form action="/auth/resetpassword" method="POST" id="resetPasswordForm">
        <div class="container">
            <!-- reset token is valid -->
            <% if (isValid) { %>
            <h1>Reset Password</h1>
            <p>Create a new password for your account</p>
            <%- include("../partials/flashMessages.ejs") %>
            <hr>

            <label for="password"><b>Password</b></label>
            <p><input type="password" placeholder="Enter Password" name="password" id="password"
                    autocomplete="new-password" required></p>

            <label for="confirmPassword"><b>Confirm Password</b></label>
            <p><input type="password" placeholder="Confirm Password" name="confirm" id="confirm"
                    autocomplete="new-password" required></p>
            <% } else { %>
            <!-- reset token is not valid-->
            <h1>Invalid Password Reset Link</h1>
            <p>The password reset link you have used is invalid. Please click the buttons below to go back to the login
                page or generate a new password reset link</p>
            <hr>
            <% } %>

            <div class="clearfix">
                <button onclick="window.location.href ='/login'" type="button" class="cancelbtn">Login</button>
                <% if (isValid) { %>
                <button type="submit" class="submitbtn" id="resetpasswordbtn" disabled>Save new password</button>
                <% } else { %>
                <button onclick="window.location.href ='/forgotpassword'" type="button" class="submitbtn">Get another
                    password reset link</button>
                <% } %>
            </div>
        </div>
    </form>
</body>

</html>