<html>
    <head>
      <% include ../partials/header.ejs %>
      <%- include("../partials/nav.ejs", { loggedIn} ) %>
      <link rel="stylesheet" type="text/css" href="/stylesheets/search.css" />
      <script src="/scripts/search.js"></script>
    </head>

    <body>
      <div class="mainContainer">
        <div id="results">
            <%- include("../partials/searchResults.ejs", { products: products, small: false } ) %>
        </div>
      </div>

      
      <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav();">&times;</a>
          <span id="name" class="cart-title">name</span>
          <hr>

          <% if (loggedIn) {%>
            <form id="form" action="/cart">
          <% } %>
          <% if (!loggedIn) {%>
            <form id="formLogin" action="/login">
          <% } %>
              <input id="id" name="id" style="visibility:hidden; display:none;">

              <label for="price">Price:</label>
              <input type="text" class="cart-input" name="price" id="price" disabled><br>

              <label for="quantity">Quantity:</label>
              <input type="number" class="cart-input" name="quantity" id="quantity" min="1" value="1" oninput="UpdatePrice();"><br>

              <hr>
              <label for="total">Total:</label>
              <input type="text" class="cart-input" name="total" id="total" disabled><br>

              <% if (loggedIn) { %>
                <input id="add-cart-button" type="submit" value="Add to cart" class="cart-button add-cart-submit"><br>
              <% } %>
              <% if (!loggedIn) { %>
                <input type="submit" value="Log in to purchase" class="cart-button add-cart-submit"><br>
              <% } %>
              <input type="button" value="Cancel" class="cart-button cancel-cart-submit" onclick="closeNav();">
          </form>

      </div>

      <div id="fade" class="fade-background" onclick="closeNav();"></div>

    </body>

</html>